<%- include ('./template/cabecera', {tituloa: '404' }); %>
<h1 align = 'center' class="text-light bg-info">Página no encontrada!!</h1>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">

<a href="/#">
    <div align="center"><img src="/img/warning.png" width="400" height="400" ></div>
 </a>
 
    <h2 align="center">
        <%= titulo%>
    </h2>
    <h2 align="center">
        <%= descripcion %>
    </h2>
    <%- include('./template/footer'); %>