<%- include ('./template/cabecera', {tituloa: '404' }); %>
<h1 align = 'center' class="text-light bg-info">Página no encontrada!!</h1>

<a href="/#">
    <div align="center"><img src="/img/warning.png" width="400" height="400" ></div>
 </a>

  
    <h2 align="center">
        <%= titulo%>
    </h2>
    <h2 align="center">
        <%= descripcion %>
    </h2>
    <%- include('./template/footer'); %>