<%- include ('./template/cabecera', {tituloa: 'index',}); %>
<h1 align = 'center' class="text-light bg-info">Inicio</h1>

    <h1 align="center">Bienvenido a la Tienda Generica Chicas super poderosas</h1>
    <h2 align="center">
        <%= titulo%>    
    </h2>
<%- include('./template/footer'); %>


