<%- include ('./template/cabecera', {tituloa: 'produtos'}); %>
<h1 align = 'center' class="text-light bg-info">Productos</h1>

<h1>Productos</h1>
<h2>
    <%= titulo%>
</h2>
    <%- include('./template/footer'); %>
