<%- include('./template/cabecera', {tituloa:'usuarios'}); %>
<h1 align = 'center' class="text-light bg-info">Usuarios</h1>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">

    <h1 align="center"> Página Usuarios</h1>
    <h2>
        <%= titulo%>
    </h2>
    <%- include('./template/footer'); %>