<%- include('./template/cabecera', {tituloa:'usuarios'}); %>
<h1 align = 'center' class="text-light bg-info">Usuarios</h1>
    <h1 align="center"> Página Usuarios</h1>
    <h2>
        <%= titulo%>
    </h2>
    <%- include('./template/footer'); %>