<%- include ('./template/cabecera', {tituloa: 'ventas'}); %>
<h1 align = 'center' class="text-light bg-info">Ventas</h1>

<h1>Ventas</h1>
<h2>
    <%= titulo%>
</h2>
    <%- include('./template/footer'); %>
