<%- include ('./template/cabecera', {tituloa: 'ventas'}); %>
<h1 align = 'center' class="text-light bg-info">Ventas</h1>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">

<h1>Ventas</h1>
<h2>
    <%= titulo%>
</h2>
    <%- include('./template/footer'); %>
