<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">Tienda Generica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Sucursales</a>-->
                  
                  
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/productos">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/usuarios">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/proveedores">Proveedores</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/ventas">Ventas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reportes">Reportes</a>
            </li>

          

          <div class="dropdown">
            <button class="btn btn-block nav-link" type="button" id="navbarSupportedContent" data-bs-toggle="dropdown" aria-expanded="false">
              Sucursales
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarSupportedContent">
              <li><button class="dropdown-item" type="button">Bogotá</button></li>
              <li><button class="dropdown-item" type="button">Cali</button></li>
              <li><button class="dropdown-item" type="button">Medellin</button></li>
            </ul>
          </div>
</ul>
          <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
      </div>
  </div>
</nav>